<div class="container-fluid grower-move-container card-view">
    <h3>Space X Launch Programs</h3>
    <h6>Filters</h6>
   <div class="conatiner">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-2">
          <button type="button" class="btn btn-light btn-lg">Launch Year</button>
          <div class="container" *ngFor="let item of years">
            <button type="button" class="btn btn-light" [(ngModel)]="launchYear['year']" ngDefaultControl [value]="item" (click)="getDataWithoutFilter(item, 'year')"  [ngClass]="{'green' : (launchYear['year'] === item)}">{{item}}</button>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-2">
          <button type="button" class="btn btn-light btn-lg">Successful Launch</button><br>
          <button type="button" class="btn btn-light" [(ngModel)]="launchSuccess['value']" ngDefaultControl  [value]="true" (click)="getDataWithoutFilter(true, 'successful_launch')" [ngClass]="{'green' : (launchSuccess['value'] === true)}">True</button>
          <button type="button" class="btn btn-light" [(ngModel)]="launchSuccess['value']" ngDefaultControl  [value]="false" (click)="getDataWithoutFilter(false, 'successful_launch')" [ngClass]="{'green' : (launchSuccess['value'] === false)}">False</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-2">
          <button type="button" class="btn btn-light btn-lg">Successful Landing</button><br>
          <button type="button" class="btn btn-light" [(ngModel)]="landingSuccess['value']" ngDefaultControl [value]="true" (click)="getDataWithoutFilter(true, 'successful_landing')" [ngClass]="{'green' : (landingSuccess['value'] === true)}">True</button>
          <button type="button" class="btn btn-light" [(ngModel)]="landingSuccess['value']" ngDefaultControl [value]="false" (click)="getDataWithoutFilter(false, 'successful_landing')"[ngClass]="{'green' : (landingSuccess['value'] === false)}">False</button>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-2">
      <ng-container *ngFor="let item of filteredData; let i = index">
        <img src={{item.links.mission_patch_small}} />
        <p>{{item.mission_name}} #{{i+1}}</p>
        <p>Mission Ids: {{item.mission_id}}</p>
        <p>Launch Year {{item.launch_year}}</p>
        <p>Successful Launch {{item.launch_success}}</p>
        <p>Successful Landing {{item.crew}}</p>
      </ng-container>
      </div>
</div>


